# In Minecraft 1.6.4, AccessTransformers must use obfuscated field names.
# Example: `public-f ni.a` corresponds to `net/minecraft/potion/Potion/field_76425_a`.
# Note: In this version, there is no space between the class and the field/method name;
# they are joined using a '.' character.
